How to add a data value

Hi,

I'm a bit lost here. I try to create a SenML_CBOR object with an opaque data value:
```c#
var payload = byte[]; // Some byte array
var root = CBORObject.NewArray()
    .Add(CBORObject.NewMap()
        .Add(0, RawConfigurationResourceId.ToString())
        .Add(8, Base64UrlEncoder.Encode(payload))
        .Add(-2, "/32769/0/"));
```

This way the data value property (8) is a text string instead of a byte string I was told: `AAEEAwENHgEAAgEt`

I also read in RFC 8428:
> Data Value is a base64-encoded string with the URL-safe alphabet
   as defined in Section 5 of [RFC4648], with padding omitted.  (In
   CBOR, the octets in the Data Value are encoded using a definite-
   length byte string, major type 2.)

Is this the correct way to add binary data, or should I do something different?

Is your problem solved?

Yes! 