Base64 needs padding at the end

According to RFC 4648 section 4.0 - Base 64 encoding. Padding at the end of the data is performed using the '=' character. 

CBORObject.ToJSONString() converts a byte string to traditional base64 without whitespace or padding if it has 22. This seems to be a bug.

Omitting the padding is often done per section 3.2 of RFC 4648. 

As it turns out, section 2.4.4.2 of RFC 7049 doesn't sufficiently clarify whether the base64 encoding for tag 23 uses padding or not, as is the case for base64url.  Therefore, the implementation assumes that padding is not used for base64 just as for base64url, which is a reasonable assumption.  @cabo , please weigh in on this.

Section 2.4.4.2 of RFC 7049 redirects the padding for tag 22 base64 to RFC 4648. My understanding of RFC 4648 section 3.2 is that padding is needed for base64.

3.2.  Padding of Encoded Data

   In some circumstances, the use of padding ("=") in base-encoded data
   is not required or used.  In the general case, when assumptions about
   the size of transported data cannot be made, padding is required to
   yield correct decoded data.

   Implementations MUST include appropriate pad characters at the end of
   encoded data unless the specification referring to this document
   explicitly states otherwise.

   The base64 and base32 alphabets use padding, as described below in
   sections 4 and 6, but the base16 alphabet does not need it; see
   section 8.

@peteroupc could you please extend CBOREncodeOptions to support base64_padding if you keep the default implementation as no_padding? Thank you!

I have included a feature to control Base64 padding when writing base64/base64url data to JSON.  @cabo : Please clarify whether section 2.4.4.2 of RFC 7049 intends traditional base64 encoding to use padding or not.

Hi Peter,

thanks for bringing this up again.  We discussed this in the CBOR WG at iETF100 (
https://datatracker.ietf.org/meeting/100/materials/minutes-100-cbor/), but it seems we didn't reach a conclusion.  Note that the issue is not really a CBOR one — the objective is to interoperate best with the JSON side, and we don't have a very good survey of what is the usual form of base64 on the JSON side.  (I have seen both the redundant base64 padding and no padding; while padding seems to be rare with base64url.)

So it would be most useful to collect some data before resolving this issue.

According to https://github.com/cbor-wg/CBORbis/pull/48 , the CBOR revision will be clarified to say that padding is indeed used for writing tag 22 data to JSON.  This is a breaking change that can only be implemented in the next major version, version 4.0 (which is currently in its second alpha).

Now, how will this impact existing JSON data written using my current implementation (which uses no padding in _both_ base64 and base64url)?  And how should I restructure the JSON padding option added in #16 (which adds padding to _both_ base64 and base64url, or removes it from _both_)?  Should it be changed, or should it be deprecated in favor of yet another JSON option?


Re-sending.

> 
> According to [cbor-wg/CBORbis#48](https://github.com/cbor-wg/CBORbis/pull/48) , the CBOR revision will be clarified to say that padding is indeed used for writing tag 22 data to JSON. This is a breaking change that can only be implemented in the next major version, version 4.0 (which is currently in its second alpha).
> 
> Now, how will this impact existing JSON data written using my current implementation (which uses no padding in _both_ base64 and base64url)? And how should I restructure the JSON padding option added in #16 (which adds padding to _both_ base64 and base64url, or removes it from _both_)? Should it be changed, or should it be deprecated in favor of yet another JSON option?



I think it is rare to find a JSON object that has both base64classic and base64url in it.  But if you do, and these do not use the standard choices for padding (yes for base64classic, no for base64url), those choices may also vary throughout your object, so you may need to specifically tag those places where the non-standard places occur.  So, to me it seems we'll need to fill the matrix and do a 21' with padding and a 22' without padding.  (Say, 1021 and 1022.)

Closing for now.  I have decided to deprecate the JSON padding option, mentioned in a previous comment here, in my CBOR library, and use the JSON padding policy in the revised CBOR specification in future versions by default.